@model UMS.Models.ViewModels.CourseProtoTypeVM

<table class="table table-secondary">
    <thead class="table-secondary">
        <tr>
            <th>Name</th>
            <th>Credit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.CourseProtoTypeList.Count()>0)
        {
            foreach (var courseProtoType in Model.CourseProtoTypeList)
            {
                <tr>
                    <td>@courseProtoType.Name</td>
                    <td>@courseProtoType.Credit</td>
                    
                    <td>
                        <a class="btn btn-primary" asp-action="Upsert" asp-route-id="@courseProtoType.Id"><i class="fas fa-edit"></i></a>
                        <button class="btn btn-danger" id="deleteBtn" data-id="@courseProtoType.Id" ><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td></td>
                <td class="text-danger">No Course Proto Type Available</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @if (Model.Pager != null && Model.Pager.TotalPages > 1)
    {
        @if (Model.Pager.CurrentPage > 1)
        {
            <button class="btn btn-outline-info page-buttons" data-pageNo="1">First</button>
            <button class="btn btn-outline-info page-buttons" data-pageNo="@(Model.Pager.CurrentPage+1)">Next</button>
        }
        for (int page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
        {
            string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : "";
            <button class="btn btn-outline-info page-buttons @activeClass" data-pageNo="@(page)">@(page)</button>
        }
        if (Model.Pager.CurrentPage < Model.Pager.EndPage)
        {
            <button class="btn btn-outline-info page-buttons" data-pageNo="@(Model.Pager.CurrentPage+1)">Next</button>
            <button class="btn btn-outline-info page-buttons" data-pageNo="@(Model.Pager.EndPage)">Last</button>
        }
    }
</div>

<script>
    $(document).ready(function () {

        $("#deleteBtn").click(function () {
            swal({
                title: "Are you sure that you want to delete this data",
                text: "If you once delete this you can not restore it!",
                icon: "warning",
                dangerMode: true,
                buttons: true
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '@Url.Action("Delete", "CourseProtoType")',
                        type: "POST",
                        data: {
                            id: $(this).attr("data-id")
                        }
                    }).done(function (response) {
                        swal("Successfully Deleted", {
                            icon: "success"
                        });
                        $("#table-container").html(response);
                    }).fail(function (xhr) {
                        toastr.error("Something went wrong");
                    })
                }
            })
        });

        $(".page-buttons").click(function () {
            $.ajax({
                url: '@Url.Action("CourseProtoTypeTable", "CourseProtoType")',
                data: {
                    pageNo: $(this).attr("data-pageNo"),
                    searchValue: '@Model.Search'
                }
            }).done(function (response) {
                $("#table-container").html(response);
            }).fail(function (xhr) {
                toastr.error("Something Went Wrong");
            })
        })

    });


</script>
