@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html>
<head>
    <title>University Management System</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Import lib -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- End import lib -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true">
</head>
<body class="overlay-scrollbar">
    <div class="loader">
        <div></div>
    </div>
    <!-- navbar -->
    <div class="navbar-wrapper">
        <!-- nav left -->
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="navbar-link">
                    <i class="fas fa-bars" onclick="collapseSidebar()"></i>
                </a>
            </li>
            <li class="navbar-item">
                <img src="~/Images/logo.jpg" alt="ATPro logo" class="logo logo-light">
            </li>
        </ul>

        <ul class="navbar-nav nav-right">
            <li class="navbar-item avt-wrapper">

                <partial name="_LoginPartial" />

            </li>
        </ul>

    </div>
    <div class="sidebar">

        @{
            var dashClass = ViewContext.RouteData.Values["Controller"].ToString() == "Home"
            ? "sidebar-active" : String.Empty;
        }
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item @dashClass">
                <a asp-action="Index" asp-controller="Home" asp-area="Student" class="sidebar-nav-link ">
                    <div>
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    <span>
                        Dashboard
                    </span>

                </a>
            </li>
            @if (User.IsInRole("Admin") || User.IsInRole("Super Admin") || User.IsInRole("Program Officer"))
            {

                var userClass = ViewContext.RouteData.Values["Controller"].ToString() == "User" ||
                ViewContext.RouteData.Values["Action"].ToString() == "Register"
                 ? "sidebar-active" : String.Empty;


                <li class="sidebar-nav-item @userClass">
                    <a asp-action="Index" asp-controller="User" asp-area="Admin" class="sidebar-nav-link ">
                        <div>
                            <i class="fas fa-tachometer-alt"></i>
                        </div>
                        <span>
                            User
                        </span>

                    </a>
                </li>
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Super Admin"))
            {
                var departmentClass = ViewContext.RouteData.Values["Controller"].ToString() == "Department"

                 ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @departmentClass">
                    <a asp-action="Index" asp-controller="Department" asp-area="Admin" class="sidebar-nav-link">
                        <div>
                            <i class="fas fa-building"></i>
                        </div>
                        <span>Department</span>
                    </a>
                </li>
                var CourseTypeClass = ViewContext.RouteData.Values["Controller"].ToString() == "CourseType"

                 ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @CourseTypeClass">
                    <a asp-action="Index" asp-controller="CourseType" asp-area="Admin" class="sidebar-nav-link">
                        <div>
                            <i class="fas fa-tasks"></i>
                        </div>
                        <span>CourseType</span>
                    </a>
                </li>
                var CourseProTypeClass = ViewContext.RouteData.Values["Controller"].ToString() == "CourseProtoType"

                ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @CourseProTypeClass">
                    <a asp-action="Index" asp-controller="CourseProtoType" asp-area="Admin" class="sidebar-nav-link">
                        <div>
                            <i class="fas fa-spinner"></i>
                        </div>
                        <span>CourseProtoType</span>
                    </a>
                </li>
                var CourseClass = ViewContext.RouteData.Values["Controller"].ToString() == "Course"

                ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @CourseClass">
                    <a asp-action="Index" asp-controller="Course" asp-area="Admin" class="sidebar-nav-link">
                        <div>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <span>Courses</span>

                    </a>
                </li>
                var CoursePreClass = ViewContext.RouteData.Values["Controller"].ToString() == "CoursePre"

                ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @CoursePreClass">
                    <a asp-action="Index" asp-controller="CoursePre" asp-area="Admin" class="sidebar-nav-link">
                        <div>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <span>CourePrerequisite</span>
                    </a>
                </li>
                var semesterClass = ViewContext.RouteData.Values["Controller"].ToString() == "Semester"

                ? "sidebar-active" : String.Empty;

                <li class="sidebar-nav-item @semesterClass">
                    <a asp-action="Index" asp-controller="Semester" asp-area="Admin" class="sidebar-nav-link">
                        <div>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <span>Semesters</span>
                    </a>
                </li>
                var ClassTimeClass = ViewContext.RouteData.Values["Controller"].ToString() == "ClassTime"

                ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @ClassTimeClass">
                    <a asp-action="Index" asp-controller="ClassTime" asp-area="Admin" class="sidebar-nav-link">
                        <div>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <span>Class Times</span>
                    </a>
                </li>
                var DayClass = ViewContext.RouteData.Values["Controller"].ToString() == "Day"

                ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @DayClass">
                    <a asp-action="Index" asp-controller="Day" asp-area="Admin" class="sidebar-nav-link">
                        <div>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <span>Days</span>
                    </a>
                </li>
                var SectionClass = ViewContext.RouteData.Values["Controller"].ToString() == "Section"

                ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @SectionClass">
                    <a asp-action="Index" asp-controller="Section" asp-area="Admin" class="sidebar-nav-link">
                        <div>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <span>Sections</span>
                    </a>
                </li>
                var ActivityClass = ViewContext.RouteData.Values["Controller"].ToString() == "Activity"

                ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @ActivityClass">
                    <a asp-action="Index" asp-controller="Activity" asp-area="Admin" class="sidebar-nav-link">
                        <div>
                            <i class="fas fa-bug"></i>
                        </div>
                        <span>Activities</span>
                    </a>
                </li>
                var RoleClass = ViewContext.RouteData.Values["Controller"].ToString() == "Role"

                ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @RoleClass">
                    <a asp-action="Index" asp-controller="Role" asp-area="Admin" class="sidebar-nav-link">
                        <div>
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <span>Roles</span>
                    </a>
                </li>
                var claimClass = ViewContext.RouteData.Values["Controller"].ToString() == "Claim"

                ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @claimClass">
                    <a asp-action="Index" asp-controller="Claim" asp-area="Admin" class="sidebar-nav-link">
                        <div>
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <span>Claims</span>
                    </a>
                </li>
                var AssignRegistrationCourseClass = ViewContext.RouteData.Values["Controller"].ToString() == "AssignRegistrationCourse"

                ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @AssignRegistrationCourseClass">
                    <a asp-action="Index" asp-controller="AssignRegistrationCourse" asp-area="Admin" class="sidebar-nav-link">
                        <div>
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <span>AssignRegistrationCourse</span>
                    </a>
                </li>

            }
            @{
                var PreRegistrationCourseClass = ViewContext.RouteData.Values["Controller"].ToString() == "PreRegistrationCourse"

                ? "sidebar-active" : String.Empty;
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Super Admin") || User.IsInRole("Student"))
            {
                <li class="sidebar-nav-item @PreRegistrationCourseClass">
                    <a asp-action="Index" asp-controller="PreRegistrationCourse" asp-area="Student" class="sidebar-nav-link ">
                        <div>
                            <i class="fas fa-tachometer-alt"></i>
                        </div>
                        <span>
                            Preregistration
                        </span>

                    </a>
                </li>
            }

            @if (User.IsInRole("Student"))
            {
                var RegistrationClass = ViewContext.RouteData.Values["Controller"].ToString() == "Registration"

                ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @RegistrationClass">
                    <a asp-action="Index" asp-controller="Registration" asp-area="Student" class="sidebar-nav-link ">
                        <div>
                            <i class="fas fa-tachometer-alt"></i>
                        </div>
                        <span>
                            Registration
                        </span>

                    </a>
                </li>
                var gradeClass = ViewContext.RouteData.Values["Controller"].ToString() == "Grade"

                ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @gradeClass">
                    <a asp-action="Index" asp-controller="Grade" asp-area="Student" class="sidebar-nav-link ">
                        <div>
                            <i class="fas fa-tachometer-alt"></i>
                        </div>
                        <span>
                            Grade
                        </span>

                    </a>
                </li>
            }
            @if (User.IsInRole("Faculty"))
            {
                var courseAdviseClass = ViewContext.RouteData.Values["Controller"].ToString() == "TeacherCourse"
                    && (ViewContext.RouteData.Values["Action"].ToString() == "CourseList"||
                     ViewContext.RouteData.Values["Action"].ToString() == "StudentList")
                    ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @courseAdviseClass">
                    <a asp-action="CourseList" asp-controller="TeacherCourse" asp-area="Teacher" class="sidebar-nav-link ">
                        <div>
                            <i class="fas fa-tachometer-alt"></i>
                        </div>
                        <span>
                            AdviseCourse
                        </span>

                    </a>
                </li>
                var courseAdvisePriClass = ViewContext.RouteData.Values["Controller"].ToString() == "TeacherCourse"
                    && (ViewContext.RouteData.Values["Action"].ToString() == "PreviousCourseList"||
                    ViewContext.RouteData.Values["Action"].ToString() == "PreviousStudentList")
                    ? "sidebar-active" : String.Empty;
                <li class="sidebar-nav-item @courseAdvisePriClass">
                    <a asp-action="PreviousCourseList" asp-controller="TeacherCourse" asp-area="Teacher" class="sidebar-nav-link ">
                        <div>
                            <i class="fas fa-tachometer-alt"></i>
                        </div>
                        <span>
                            Previous AdviseCourse
                        </span>

                    </a>
                </li>
            }

            <li class="nav-item has-submenu sidebar-nav-item">
                <a class="sidebar-nav-link" href="#">
                    <div>
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <span>Dropdown</span>
                    <div>
                        <i class="fas fa-caret-down"></i>
                    </div>
                </a>
                <ul class="submenu collapse">
                    <li><a class="submenu-link" href="#">Submenu item 4 </a></li>
                    <li><a class="submenu-link" href="#">Submenu item 5 </a></li>
                    <li><a class="submenu-link" href="#">Submenu item 6 </a></li>
                    <li><a class="submenu-link" href="#">Submenu item 7 </a></li>
                </ul>
            </li>
            <li class="sidebar-nav-item">
                <a href="#" class="sidebar-nav-link">
                    <div>
                        <i class="fas fa-adjust"></i>
                    </div>
                    <span>Morbi</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a href="#" class="sidebar-nav-link">
                    <div>
                        <i class="fab fa-algolia"></i>
                    </div>
                    <span>Praesent</span>
                </a>
            </li>


        </ul>
    </div>

    <div class="wrapper mb-5" id="contents">
        <main role="main" class="pb-3 px-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white bg-primary text-center  ">
        &copy; @DateTime.Now.Year - UMS All Rights Reserved
    </footer>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- end import script -->
</body>
</html>